<footer class="footer text-center position-relative">
  <div class="content mx-auto">
    <p>想了解更多竹寶寶家族資訊！我們將讓您在最快的時間得到竹寶寶家族最新活動與訊息！</p>
    <form action="">
      <div class="row">
        <div class="col-12 col-md-8">
          <input class="mail py-2 px-3" type="mail" placeholder="請輸入Email">
        </div>
        <div class="col-12 col-md-4">
          <button class="subs py-2 px-3">訂閱電子報</button>
        </div>
      </div>
    </form>
    <div class="contact mt-3 mb-3">
      <p>新竹動漫畫出版社 地址：新竹市經國路一段454巷94號 　電話：<a href="tel:+03-5337022">03-5337022</a></p>
      <p>Copyright © 2014-2018 竹寶寶家族 BAMBOO BABY 版權所有 請勿侵犯著作 All Rights Reserved.</p>
    </div>
  </div>
</footer>